.DashboardPage{
    background-color: #222;
    color: #aaa;
    height: 500px;
}

.grid-example{
    /* font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.21px; */
    background-color: #222;
    /* margin: 15px !important; */
}

.grid-example .md-cell {
    background: #696969;
    color: #fff;
    height: 250px;
    padding: 16px;
}