header.Header-toolbar {
  background-color: #256188;
  border-bottom: 1px solid #181818;
  height: 48px; }

header.Header-toolbar > h2.md-title {
  line-height: 48px;
  margin: 0 0 0 20px; }

.loginuser-in-header {
  margin-top: 5px; }
