
@import 'react-md';
@import 'variables';

.UsersPage {
    min-height: 95vh;
    background-color: #181818;

    .users-page{
        background: #222222;
    }
}
  
.UsersPage .md-card-title--primary{
    
    & .md-text{
        color: #1d7cc7;
    }
}

.users-page_list{
    
    width: 100%;
    height: 200px;
    margin-top: 5px;
}

.user-page_table-row{
    width: 100%;
    height: 50px;
    background-color:#E4EEF6;
    border-top: 2px solid;
}

.user-page_table {
    width: 100%;
   
}

// .dashboard-header__arrow {
//     height: 24px;
//     margin-left: 5px;
//     position: relative;
//     width: 24px;
//     vertical-align: middle;
//     .md-icon,
//     .md-ink-container {
//       position: absolute;
//       top: 0;
//       left: 0;
//     }
//   }

.collapse {
    display: none;
  }

  tbody{
      width: 100%;
      height:250px;
      background-color: #F4F4F4;
  }